<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tbc.uncagedmist.sarkaricloud">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- All OneSignal manifest entries are added for you automatically from the OneSignal aar gradle entry. -->


    <!-- Optional permission, needed for geo tagging feature. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".Common.OneApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!-- Disable opening of launcher Activity -->
        <meta-data android:name="com.onesignal.NotificationOpened.DEFAULT" android:value="DISABLE" />

        <!-- Disable Badges -->
        <!-- <meta-data android:name="com.onesignal.BadgeCount" android:value="DISABLE" /> -->

        <activity android:name=".NotifActivity"></activity>
        <activity android:name=".ResultActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".ProductsActivity" />
        <activity android:name=".PrivacyActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>